<div class="inventory-search-div">

  <button id="add-button" mat-stroked-button (click)="onAdd()">
    Añadir producto <mat-icon id="add-icon">add</mat-icon>
  </button>

  <mat-form-field appearance="outline" class="inventory-search-form">
    <mat-label>Buscar productos</mat-label>
    <input #searchBox matInput id="search-box" placeholder="Buscar" (keyup)="searchKeys$.next($event.target.value)" />
    <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKeyTitle" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button routerLink="/inventory-table">Ver productos en tabla <mat-icon>table_chart</mat-icon>
    </button>


</div>




<h3 style="margin: 30px; font-weight: 200" >Hay <b>{{productsCount}}</b> productos en el inventario</h3>





<mat-grid-list cols="3" gutterSize="10px" rowHeight="420px">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card id="{{product._id}}" class="inventory-products-card">
      <mat-card-header>
        <mat-card-title class="card-title">
          {{product.title}}
        </mat-card-title>
        <button [matMenuTriggerFor]="menu" style="float: right;" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(product)">Editar <mat-icon class="inventory-edit-button">create
            </mat-icon></button>
          <button mat-menu-item (click)="onDelete(product)">Eliminar <mat-icon class="inventory-delete-button">delete
            </mat-icon></button>
          <button mat-menu-item (click)="onEditPhoto(product)">Editar foto<mat-icon class="inventory-edit-img-button">
              add_photo_alternate</mat-icon></button>
        </mat-menu>
      </mat-card-header>
      <div *ngIf="product.imagePath == 'no-photo'; else image">
        <img class="product-card-img" mat-card-image src="../../../../assets/no-image.png">
      </div>
      <ng-template #image>
        <img class="product-card-img" mat-card-image [src]="product.imagePath">
      </ng-template>
      <mat-card-content>
        <h3>Modelo: {{product.modelo}}</h3>
        <h3>Precio: {{product.precio | currency}}</h3>
        <h3>Cantidad: {{product.cantidad}}</h3>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

</mat-grid-list>



