#id-field{
    display: none;
}

mat-form-field
{
    width: 100%;

}

.close-button{
    background-color: #FC1808;
    color: white;
}


.create-button{
    background-color: dodgerblue;
    color: white;

}










