


.product-card-img{
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card-title{
    font-weight: 200;
    
    }
    
  
 .inventory-products-card{
        width: 320px;
 }



 .search-results{
     margin-top: 100px;
 }
    