<div style="margin: 20px;">
    <button mat-stroked-button appBackbutton><mat-icon>arrow_back</mat-icon>  Volver</button>
</div>






<div class="warehouse-options-div">
    <form (submit)="searchProduct(searchBox.value)">
        <mat-form-field appearance="outline" class="warehouse-search-form">
            <mat-label>Buscar productos</mat-label>
            <input #searchBox matInput id="search-box" placeholder="Buscar" />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button style="background-color: dodgerblue" type="submit" mat-fab>
      <mat-icon>search</mat-icon>
    </button>
    </form>
</div>





<div style="margin-left: 30px;" *ngIf="productsAdded">
    <mat-chip-list *ngFor="let product of productsAdded" style="margin-right: 10px;" class="added-products">
        <mat-chip matBadge="{{product.cantidad}}" matBadgePosition="before">{{product.title}}</mat-chip>
        <button mat-mini-fab (click)="increase(product)"><mat-icon>add</mat-icon></button>
        <button mat-mini-fab (click)="decrease(product)"><mat-icon>remove</mat-icon></button>
    </mat-chip-list>
</div>

<button mat-raised-button (click)="save()">Guardar productos</button>
<button mat-raised-button (click)="deleteAll()">Borrar todos</button>







<div>
    <ul *ngFor="let product of pageOfItems">
        <li>{{product.title}}</li>
        <button mat-raised-button (click)="selectProduct(product)">Agregar</button>
    </ul>
</div>





<div *ngIf="isSearch; else notSearch">
    <div class="card-footer pb-0 pt-3 mb-4 d-block mx-auto">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]="{q: searchQuery, page: 1 }" class="page-link">Primera</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]=" {q: searchQuery, page: pager.currentPage - 1 }" class="page-link">
                    <mat-icon>navigate_before</mat-icon>
                </a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]="{q: searchQuery, page: page }" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]="{q: searchQuery, page: pager.currentPage + 1 }" class="page-link">
                    <mat-icon>navigate_next</mat-icon>
                </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]="{q: searchQuery, page: pager.totalPages }" class="page-link">Ultima</a>
            </li>
        </ul>
    </div>
</div>






<ng-template #notSearch>

    <div class="card-footer pb-0 pt-3 mb-4 d-block mx-auto">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]="{ page: 1 }" class="page-link">Primera</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]=" { page: pager.currentPage - 1 }" class="page-link">
                    <mat-icon>navigate_before</mat-icon>
                </a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]="{ page: page }" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">
                    <mat-icon>navigate_next</mat-icon>
                </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                <a [routerLink]="['/almacenes/agregar-producto', warehouseId, warehouseName]" [queryParams]="{ page: pager.totalPages }" class="page-link">Ultima</a>
            </li>
        </ul>
    </div>

</ng-template>