<h2 mat-dialog-title>Configurar almacen</h2>


<form [formGroup]="warehouseService.warehouseForm" (submit)="updateWarehouse()">
    <div mat-dialog-content>



        <mat-form-field id="id-field" appearance="outline">
            <mat-label>Nombre del almacen</mat-label>
            <input #description matInput formControlName="warehouse_name">
        </mat-form-field>



        <mat-form-field appearance="outline">
            <mat-label>Direccion del almacen</mat-label>
            <input #description matInput formControlName="warehouse_location">
        </mat-form-field>



    </div>

    <div mat-dialog-actions>
        <button mat-raised-button>editar <mat-icon>create</mat-icon></button>
        <button mat-raised-button [mat-dialog-close]="true">cancelar<mat-icon>close</mat-icon></button>
    </div>