.mat-drawer:not(.mat-drawer-side) {
    position: fixed;
}

.mat-drawer-backdrop {
    position: fixed !important;
}




@media (max-width: 600px){
    mat-icon {
        padding-left: 8px;
    }
}


