<div class="bounds">
    
<h2 mat-dialog-title>Añadir productos</h2>
<mat-dialog-content>


    <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>

        <!-- Angular formgroup with flex layout -->
        
        <div fxFlex="100"  fxFlex.xs="50" fxFlexAlign="center" fxFlexFill>
            <mat-form-field appearance="outline">
                <mat-label>Descripcion del producto</mat-label>
                <input id="description" matInput placeholder="Ej. Compresor de nevera  1/4">
            </mat-form-field>
          </div>

          <div fxFlex="100"  fxFlex.xs="50" fxFlexAlign="center" fxFlexFill>
            <mat-form-field appearance="outline">
                <mat-label>Modelo o codigo</mat-label>
                <input matInput placeholder="Ej. EMI 80HLP">
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.xs="50" fxFlexAlign="center" fxFlexFill>
            <mat-form-field appearance="outline">
                <mat-label>Precio costo del producto</mat-label>
                <input matInput placeholder="Costo del producto">
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.xs="50" fxFlexAlign="center" fxFlexFill>
            <mat-form-field appearance="outline"> 
                <mat-label>Cantidad en almacen</mat-label>
                <input matInput placeholder="Cantidad en almacen">
            </mat-form-field>
          </div>

        </div>

        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button><mat-icon>add</mat-icon>  Crear</button>
            <button mat-raised-button mat-dialog-close><mat-icon>close</mat-icon> Cancelar</button>
        </mat-dialog-actions>






</div>














<!-- 






    <div class="content" fxFlex="100" fxLayout="column" fxFlexFill>
        <div fxFlex="30" fxFlexAlign="center center">
        
            <form>

                <div>
                <mat-form-field appearance="fill">
                    <mat-label>Descripcion del producto</mat-label>
                    <input matInput placeholder="Ej. Compresor de nevera  1/4">
                </mat-form-field>
                </div>

                <div>
                <mat-form-field appearance="fill">
                    <mat-label>Modelo o codigo</mat-label>
                    <input matInput placeholder="Ej. EMI 80HLP">
                </mat-form-field>
                </div>

                <div>
               
            </div>

                <div>    
              
                </div>
            </form>
            </div>

    </div>

</mat-dialog-content>

 -->
