<!-- main menu showing all the modules of the app and the how to access them -->


<div class="bounds">
  <h1>Panel de control</h1>

  <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">

    <div fxFlex="50" class="sec1" fxFlex.xs="50" fxFlexAlign="center center">
      <!-- card header -->
      <mat-card id="inventory-card">
        <mat-card-header>
          <mat-card-title class="cards-title">
            Inventario
            <button id="more-button" mat-button [matMenuTriggerFor]="menu"><mat-icon id="more-link">more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item><mat-icon class="regular-icon">create</mat-icon> Editar inventario</button>
              <button mat-menu-item> <mat-icon class="regular-icon">store</mat-icon> Ver inventario</button>
            </mat-menu>
          </mat-card-title>

        </mat-card-header>
        <!-- card body  -->
        <mat-card-content>
          <button class="inventory-button" mat-raised-button id="inventory-button" routerLink="/inventory-main">
            <mat-icon>
              store
            </mat-icon>
          </button>

        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex="50" class="sec3" fxFlex.xs="50" fxFlexAlign="center">
      second section
    </div>

  </div>

</div>