
<app-main-nav></app-main-nav>



<h2 style="font-weight: 200; margin-left: 20px">Inventario</h2>



<button  style="font-size: 18px; margin-left: 20px; margin-top: 20px; font-weight: 200;" mat-button routerLink="/dashboard">Volver al inicio <mat-icon>home</mat-icon></button>



    <div class="bounds">

      <mat-grid-list class="inventory-grid" cols="2" rowHeight="100px">
        <mat-grid-tile class="inventory-tile"
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows">
            <mat-card class="inventory-card">
              <mat-card-header>
                <mat-card-title class="cards-title">
                  {{tile.text}}
                </mat-card-title>
      
              </mat-card-header>
              <!-- card body  -->
              <mat-card-content class="inventory-card-content">

                <button [style.background]="tile.color" [routerLink]="tile.routeLink" [queryParams]="tile.queryParams"  class="inventory-button" mat-raised-button id="inventory-button" routerLink="/inventario">
                  <mat-icon class="inventory-icon">
                    {{tile.icon}}
                  </mat-icon>
                </button>
      
              </mat-card-content>
            </mat-card>
        
        </mat-grid-tile>
      </mat-grid-list>

    
  
  </div>




  




