<h2 style="font-weight: 200; margin-left: 20px">



    Inventario</h2>



<div style="margin: 20px;">
    <button mat-stroked-button appBackbutton><mat-icon>arrow_back</mat-icon>  Volver</button>
</div>







<div class="inventory-options-div">

  




  <div style="display: flex; width: 100%">

      <form (submit)="searchProducts(searchBox.value)">
          <mat-form-field appearance="outline" class="inventory-search-form">
              <mat-label>Buscar productos</mat-label>
              <input #searchBox matInput id="search-box" placeholder="Buscar" />
              <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button style="background-color: dodgerblue" type="submit" mat-fab>
        <mat-icon>search</mat-icon>
      </button>
      </form>

      
      <div style="margin-left: 20px">
          
        <h4>Buscar por categoria</h4>
      
        <mat-form-field appearance="fill">
          <mat-label>Categorias</mat-label>
          <mat-select [formControl]="toppings" multiple>
            <mat-option *ngFor="let topping of toppingList" [value]="topping" (click)="addCategory(topping)" (onSelectionChange)="onChange($event)">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
        

        <div *ngIf="Categories">
          <div *ngFor="let category of Categories">
            <h2>{{category}}</h2>
          </div>

        </div>
 
        
      
        </div>

  </div>






    <div class="inventory-table-categories">
     



      <!-- Category selector div-->




        <div class="inventory-categories">
            <mat-chip-list *ngFor="let category of categories" style="margin-right: 10px;">
                <mat-chip [routerLink]="['/inventario/categorias']" [queryParams]="{category: category.categories, page: currentPage}">{{category.categories}}</mat-chip>
            </mat-chip-list>
        </div>
    </div>


</div>














<router-outlet></router-outlet>



<!-- 



-->