body {
    background-color: white;
}

button{
    margin: 5px;
}



.inventory-search-div{
    margin: 10px;
}


.search-inventory{
    color: white;
    background-color: rgba(0, 102, 255, 0.822);
}

    
    
#add-icon {
    font-size: 24px;
    padding-bottom: 1px;
}


#add-button {
    color: dodgerblue;
}





/* inventory options cards from here */

.bounds{
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.inventory-card {
  /* main card styling */
      
  width: 200px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border-radius: 2%;
  background-color: rgba(255, 166, 0, 0.801);
  
} 


.inventory-grid {
  margin-top: 20px;

}

.inventory-tile {
  margin: 10px;

}

.inventory-card-content {
  margin-left: auto;
  margin-right: auto;
}


.inventory-button {
  height: 200px;
  width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
   transition: 200ms;
}


.inventory-button:hover {
  width: 250px;
  height: 250px;

}



.inventory-icon {
  display: inline; 
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
}



.cards-title {
  width: 100%;
  float: left;
  margin-left: 10px;
}