.card-div {
    margin: 40px;
}

.warehouse-card {
    width: auto;
}

#add-icon {
    font-size: 24px;
    padding-bottom: 1px;
}

#add-button {
    color: dodgerblue;
    margin: 20px;
}

.warehouse-search-form {
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}