<div class="inventory-search-div">
    <button id="add-button" mat-raised-button (click)="onAdd()"> 
        <mat-icon>add</mat-icon> Añadir productos

    </button>

    <mat-form-field appearance="outline" class="inventory-search-form">
        <mat-label>Buscar productos</mat-label>
         <input matInput [(ngModel)]="searchKey" placeholder="Buscar">
        <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button routerLink="/inventory-table" >Ver productos en tabla <mat-icon>table_chart</mat-icon></button>


    </div>

    


    <h5>Grid with products goes here</h5>

    <div>
      <ul *ngFor="let product of products">
        <li>{{product | json}}</li>
      </ul>

    </div>
