<div class="inventory-search-div">


     <button id="add-button" mat-stroked-button (click)="onAdd()">
    Añadir producto <mat-icon id="add-icon">add</mat-icon>
  </button>



   

      <button mat-raised-button routerLink="/inventory-table" >Ver productos en tabla <mat-icon>table_chart</mat-icon></button>
      <button class="search-inventory" mat-raised-button routerLink="/inventory-search" >Buscar productos en inventario <mat-icon>search</mat-icon></button>


    </div>


    <div  *ngIf="!products; else productsGrid">
      <div class="center-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </div>



<ng-template #productsGrid>

  
    
<mat-grid-list cols="3" gutterSize="10px" rowHeight="450px">
  <h3 style="margin-left: 30px; font-weight: 200" >mostrando <b>{{products.length}}</b> productos de <b>{{allProducts}}</b> en inventario</h3>
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="inventory-products-card">
      <mat-card-header>
        <mat-card-title class="card-title">
          {{product.title}}
        </mat-card-title>
        <!-- <button [matMenuTriggerFor]="menu" style="float: right;" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(product)">Editar <mat-icon class="inventory-edit-button">create
            </mat-icon></button>
          <button mat-menu-item (click)="onDelete(product)">Eliminar <mat-icon class="inventory-delete-button">delete
            </mat-icon></button>
          <button mat-menu-item (click)="onEditPhoto(product)">Editar foto<mat-icon class="inventory-edit-img-button">
              add_photo_alternate</mat-icon></button>
        </mat-menu> -->
      </mat-card-header>
      <img class="product-card-img" mat-card-image [src]="'http://localhost:4200/' + product.imagePath">
      <mat-card-content>
        <h3>Modelo: {{product.modelo}}</h3>
        <h3>Precio: {{product.precio | currency}}</h3>
        <h3>Cantidad: {{product.cantidad}}</h3>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

</mat-grid-list>
    

</ng-template>


