body {
    background-color: white;
}

button{
    margin: 5px;
}



.inventory-search-div{
    margin: 10px;
}


.search-inventory{
    color: white;
    background-color: rgba(0, 102, 255, 0.822);
}

.inventory-search-form{
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.inventory-search-form div .mat-form-field-underline{
    display: none;
}

.inventory-search-form div .mat-form-field-infix{
    border-top: 0px;

}

.inventory-search-form div .mat-form-field-wrapper{
    padding-bottom: 0px;

}

.inventory-search-form div .mat-form-field-suffix button{
    height: 32px;
    width: 32px;


}


#add-button {
    color: white;
    background-color: rgba(0, 102, 255, 0.822);

}


.card-title{
    font-weight: 200;
    font-size: 24px;
    
    }
    
    .product-card-img{
        width: 130px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .inventory-products-card{
        width: 320px;
    }
    
    
    
    
    
    
    
    
    
    